.contact{
    /* width: 1220px; */
    height: 450px;
    background: #f0aeae;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    margin-top: 30px;
}

.contact_input{
    width: 35%;
    height: 100%;
    background-color: burlywood;
}

.contact_details{
    width: 50%;
    height: 100%;
    background-color: burlywood;
}

@media (max-width: 825px){
    .contact{
        height: 350px;
    }
}

@media (max-width: 700px){
    .contact{
        height: 300px;
    }
}

@media (max-width: 580px){
    .contact{
        height: 250px;
    }
}

@media (max-width: 520px){
    .contact{
        height: 200px;
    }
}

@media (max-width: 420px){
    .contact{
        height: 500px;
        flex-direction: column;
    }
}

