body{
    background: #DEF6F7;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: helvetica;
}

@media (max-width: 520px){
    body {
        background-image: url('/images/images/login_image.png');
        background-size: cover; /* Ensures the image covers the entire screen */
        background-position: center; /* Centers the image */
        background-repeat: no-repeat; /* Prevents image repetition */
    }
}