.login{
    width: 95%;
    height: 89%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(97, 113, 113);
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.login_image{
    width: 55%;
    height: 100%;
    /* background-color: beige; */
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login_image_span{
    width: 100%;
    height: 100%;
    /* background-color: rgb(103, 85, 62); */
    position: absolute;
    z-index: 1;
    display:flex;
    justify-content:center;
    align-items:start;
}

.login_image_span_header{
    width: 100%;
    height: 5%;
    /* background-color: azure; */
    margin-top: 3%;
    display:flex;
    justify-content: left;
    align-items: center;
    gap: 16%;
    margin-left: 2%;
}

.login_image_span_header1{
    width: 40%;
    height: 100%;
    /* background-color: cadetblue; */
    display:flex;
    justify-content: left;
    align-items: center;
    gap: 5%
}

.login_image_span_header1_icon{
    height: 100%;
    width: 12%;;
}

.login_image_span_header1_name{
    color: #DEF6F7;
    font-weight: 700;
    font-size: 1.5vw;
}

.login_image_span_header1_button1{
    width: 46%;
    height: 100%;
    border: none;
    border-radius: 7px;
    /* border: 1px solid #034C3C;
    background-color: aqua; */
    background: none;
    cursor: pointer;
    color: #DEF6F7;
    font-size: 1.2vw;
}

.login_image_span_header1_button{
    width: 46%;
    height: 100%;
    border: none;
    border-radius: 7px;
    border: 2px solid #DEF6F7;
    color: #DEF6F7;
    background: none;
    cursor: pointer;
    font-size: 1.2vw;
}

.login_image_image{
    width: 100%;
    height: 100%;
}

.login_main{
    width: 40%;
    height: 100%;
    background-color: beige;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;

}

.login_main_header{
    width: 100%;
    height: 7%;
    background-color: rgb(199, 162, 135);
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    display: none;
}

.login_main_header1{
    width: 48%;
    height: 100%;
    background-color: aliceblue;
    display:flex;
    justify-content: left;
    align-items: center;
    gap: 3%;
    font-size: 1.5vw;
    font-weight: 700;
    color: #EC3237;
}

.login_image_span_header1_button2{
    width: 46%;
    height: 100%;
    border: none;
    border-radius: 7px;
    /* border: 1px solid #034C3C;
    background-color: aqua; */
    background: none;
    cursor: pointer;
    color: #034C3C;
    font-size: 1.2vw;
}

.login_image_span_header1_button3{
    width: 46%;
    height: 100%;
    border: none;
    border-radius: 7px;
    border: 2px solid #034C3C;
    color: #034C3C;
    background: none;
    cursor: pointer;
    font-size: 1.2vw;
}

.login_main_header_logo{
    height: 100%;
    width: 11%;
    ;
}

.login_main_header2{
    width: 100%;
    height: 7%;
    background-color: rgb(199, 162, 135);
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.login_main_google{
    width: 100%;
    height: 7%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 3%;

    box-sizing: border-box;
    background: #DEF6F7;
    border: 2px solid #034C3C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.5vw;
}

.login_main_button{
    width: 100%;
    height: 7%;
    display:flex;
    justify-content: center;
    align-items: center;

    background: #034C3C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    color: #DEF6F7;
    font-weight: 700;
    font-size: 1.5vw;
    cursor: pointer;
}

.login_main_header2_icon{
    width: 5%;
    height: 40%;
}

.login_main_header2_txt{
    width: 100%;
    height: 100%;
    color: #034C3C;
    font-size: 1vw;
}

.login_main_details{
    width: 100%;
    height: 20%;
    background-color: rgb(199, 162, 135);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
}

.login_main_details1{
    font-size: 2vw;
    color: #034C3C;
    font-weight: 700;
    text-decoration: underline;
}

.login_main_details2{
    font-size: 2vw;
    color: #034C3C;
    font-weight: 600;
}

.login_main_details3{
    font-size: 1vw;
    color: #034C3C;
    font-weight: 200;
}

.login_main_extra{
    width: 100%;
    height: 9%;
    background-color: rgb(199, 162, 135);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    gap: 9%;
}

.login_main_extra1{
    width: 100%;
    height: 46%;
    background-color: aquamarine;
    display:flex;
    justify-content:right;
    align-items:center;
    color: #034C3C;
    font-size: 1.3vw;
}

.login_main_extra2{
    width: 100%;
    height: 46%;
    background-color: aquamarine;
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 5%;
    color: #034C3C;
    font-size: 1.3vw;
}

.login_main_extra2_span{
    width: 30%;
    height: 6%;
    background-color: #034C3C;
    color: #034C3C;
    font-size: 1.3vw;
}


@media (max-width: 900px){
    .login{
        width: 85%;
        height: 79%;
    }
}

@media (max-width: 825px){
    .login{
        width: 85%;
        height: 69%;
    }
}

@media (max-width: 700px){
    .login{
        width: 85%;
        height: 59%;
    }
}

@media (max-width: 580px){
    .login{
        width: 85%;
        height: 49%;
    }
}

@media (max-width: 580px){
    .login{
        width: 85%;
        height: 49%;
    }
}

@media (max-width: 520px){
    .login{
        width: 80%;
        height: 85%;
    }

    .login_image{
        display: none;
    }

    .login_main{
        width: 100%;
        height: 100%;
        background-color: #DEF6F7;
        opacity: 0.6;
        border-radius: 7px;
        border: 2px solid #034C3C;
    }

    .login_main_header2_txt{
        width: 90%;
        height: 90%;
    }

    .login_main_details1{
        font-size: 4vw;
    }

    .login_main_details2{
        font-size: 3vw;
    }

    .login_main_details3{
        font-size: 2vw;
    }

    .login_main_header2_txt{
        font-size: 3vw;
    }

    .login_main_extra1{
        font-size: 3vw;
    }

    .login_main_extra2{
        font-size: 3vw;
    }

    .login_main_google{
        font-size: 3vw;
    }

    .login_main_button{
        font-size: 3vw;
    }
}

