.not_available{
    /* width: 1220px; */
    height: 220px;
    /* background: #edd2d2; */
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}
