.about_accomplishments{
    /* width: 1220px; */
    height: 250px;
    background: #f0aeae;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    margin-top: 50px;
}

.about_accomplishments_span{
    width: 10%;
    height: 50%;
    background-color: aquamarine;
}


@media (max-width: 825px){
    .about_accomplishments{
        height: 150px;
    }
}
