.about_services{
    /* width: 1220px; */
    height: 400px;
    background: #f0aeae;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3%;
    margin-top: 30px;
    position: relative;
}

.about_services_header{
    width: 100%;
    height: 20%;
    background-color: blue;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
}

.about_services_header_text{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 3vw;
    /* identical to box height */

    color: #034C3C;
}

.about_services_header_text1{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 2vw;
    /* identical to box height */

    color: #034C3C;
}

.about_services_main{
    width: 100%;
    height: 65%;
    background-color: blue;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.about_services_main_services{
    width: 30%;
    height: 100%;
    background-color: #034C3C;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-direction: column;
}

.about_services_main_services_span{
    width: 16%;
    height: 20%;
    background-color: #DEF6F7;
    border-radius: 7px;
}

.about_services_button{
    width: 100%;
    height: 10%;
    background-color: blue;
}

@media (max-width: 825px){
    .about_services{
        height: 300px;
    }
}

@media (max-width: 650px){
    .about_services{
        height: 250px;
    }
}

@media (max-width: 520px){
    .about_services{
        height: 200px;
    }
}

@media (max-width: 420px){
    .about_services{
        height: 700px;
    }

    .about_services_main{
        flex-direction: column;
        height: 83%;
    }

    .about_services_main_services{
        width: 100%;
        height: 30%;
        background-color: azure;

    }

    .about_services_header{
        height: 8%;
    }

    .about_services_button{
        height: 4%;
    }
}




