.about_services{
    /* width: 1220px; */
    height: 450px;
    background: #f0aeae;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3.5%;
    margin-top: 30px;
    position: relative;
}
