.about_services{
    /* width: 1220px; */
    height: 350px;
    background: #f0aeae;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
    margin-top: 30px;
    position: relative;
}

.about_services_header{
    width: 100%;
    height: 20%;
    background-color: blue;
}

.about_services_main{
    width: 100%;
    height: 65%;
    background-color: blue;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.about_services_main_services{
    width: 30%;
    height: 100%;
    background-color: azure;

}

.about_services_button{
    width: 100%;
    height: 10%;
    background-color: blue;
}


