.about_services{
    /* width: 1220px; */
    height: 350px;
    background: #f0aeae;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15%;
    margin-top: 30px;
    position: relative;
}

.about_services_header{
    width: 100%;
    height: 25%;
    background-color: blue;
}

.about_services_main{
    width: 100%;
    height: 45%;
    background-color: blue;
}

.about_services_button{
    width: 100%;
    height: 15%;
    background-color: blue;
}


