.about_info{
    /* width: 1220px; */
    height: 450px;
    background: #f0aeae;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    margin-top: 30px;
}

.about_info_image{
    width: 47%;
    height: 100%;
}